table{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 85%;
    color: #9A3148;
    text-align: center;
    background-image: url(fondo.jpeg);
    border: 3px outset ;
}

.verde {
    background-color: #669966;
}

.amarillo {
    background-color: #FFFF99;
}

.salmon {
    background-color: #FFCC99;
}